<!-- chan/templates/chan/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Channel</title>
  </head>
  <body>
    <textarea id="msg-log" cols="100" rows="20"></textarea>

    {{ channel|json_script:"channel" }}
    <script>
      const channel = JSON.parse(
        document.getElementById("channel").textContent
      );

      const chanSocket = new WebSocket(
        `ws://${window.location.host}/realtime/${channel}/`
      );

      chanSocket.onmessage = function (e) {
        console.log('[chanSocket.onmessage] ', e)
        const now = new Date();
        const data = JSON.parse(e.data);
        document.querySelector("#msg-log").value +=
          `[${now.toISOString()}] - ${data.message}\n`;
      };

      chanSocket.onclose = function (e) {
        console.error("chan socket closed unexpectedly");
      };
    </script>
  </body>
</html>
