<!-- chan/templates/chan/room.html -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Channel</title>
  </head>
  <body>
    <input id="chan-message-input" type="text" size="100" /><br />
    <input id="chan-message-submit" type="button" value="Send" />

    {{ channel|json_script:"channel" }}
    <script>
      const channel = JSON.parse(
        document.getElementById("channel").textContent
      );

      const chanSocket = new WebSocket(
        `ws://${window.location.host}/realtime/${channel}/`
      );

      chanSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
      };

      chanSocket.onclose = function (e) {
        console.error("chan socket closed unexpectedly");
      };

      document.querySelector("#chan-message-input").focus();
      document.querySelector("#chan-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#chan-message-submit").click();
        }
      };

      document.querySelector("#chan-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chan-message-input");
        const message = messageInputDom.value.trim();
        if (!message) {
          alert("blank");
          return;
        }
        chanSocket.send(
          JSON.stringify({
            message: message,
          })
        );
        messageInputDom.value = "";
      };
    </script>
  </body>
</html>
